@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	background-color:rgb(240, 244, 251);
}
.content{
	height:1300px;
	width:100%;
	margin-top:20px;
}
.image{
	margin-top:20px;
	width:800px;
	height:300px;
	margin:0 auto;
	background-color:#FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.image p{
	color:#0CF;
	font-size:30px;
	font-weight:400;
	text-align:center;
}
.image img{
	margin:15px 30px;
}
.word{
	width:700px;
	margin:0 auto;
}
.header{
	font-weight:bolder;
	margin-top:50px;
	text-align:center;
	font-size:80px;
}
.word{
	font-size:19px;
	font-weight:500;
}
hr{
	height:2px;
}
.hr1{
	 border: none;
	 width:120px;
    border-top: 5px solid #0bb9f8;
    display: block;
}
.hr2{
	
    border: none;
    border-top: 2px solid #d9d9d9;
}
.1{
	display:block;
	margin-top:70px;
}
.info{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	height:650px;
	width:1000px;
	margin:0 auto;
	background-color:#FFF;
	margin-top:50px;
}
.title{
	margin:20px 25px;
}
.title span:first-child{
	font-weight:700;
	font-size:28px;
}
.info1{
	margin:0 55px;
}
.info1 span{
	font-size:24px;
	font-weight:500;
	color:#C63;
}
.info1 p{
	margin:5px 40px;
	font-size:20px;
	font-weight:400;
}
